# --- Ignorar Backend ---
backend/target/
backend/.mvn/wrapper/
backend/.idea/
*.log

# --- Ignorar Frontend ---
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.firebase/
.sass-cache/

# --- Otros ---
.DS_Store
Thumbs.db
.env

pokedex-frontend-fixed/
