# Dependencias — NUNCA subir esto al repo
node_modules/
npm-debug.log*

# Build
dist/
.angular/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Environment
src/environments/environment.prod.ts
